html, body, h1,h2,h3,h4,h5,h6{
    margin: 0;padding: 0;
    
}
body {
    background-color: #f0f8ff;
}
.header-text {
    /* margin-top: 50px; */
    font-size: 40px;
}
main {
    padding: 0 20px;
    width: 100%;
    font-family: 'Delius Swash Caps', cursive;
    box-sizing: border-box;
}
nav {
    text-align: center;
}
header {
    text-align: center;
    color: #5a5a5a;
    padding: 20px 0;
    box-sizing: border-box;
    font-family: 'Delius Swash Caps', cursive;
}
header::after, header::before {
    content:'';
    min-width: 250px;
    width: 50%;
    display: block;
    color: inherit;
    border: 1px solid;
    margin: 10px auto;
    box-shadow: 23px 4px 0 0, -22px 8px 0 0;
}

.bg-color-container,
.fg-color-container {
display: inline-block;
vertical-align: middle;
}
.color-container {text-align: center;}
.color-container input {
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.loader-container {
    display: inline-block;
    padding: 20px 30px;
    margin: 20px;
    text-align: center;
}
.loader-container:hover  .view-source{
    opacity: 1;
}
.view-source {
    cursor: pointer;
    padding: 20px;
    opacity: 0;
    transition: opacity .5s ease;
}
.source-modal {
    background: #000000b0;
    width: 100%;
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.source-container {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
}
.source-html, .source-css {
    position: relative;
}
.source-css .language-css{
    max-height: 50vh;
    overflow: scroll;
}
.source-html .language-html{
    max-height: 25vh;
    overflow: scroll;
}
.source-lang{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    text-align: center;
    background: #7a7a7dfa;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.source-modal  textarea {
    width: 100%;
    font-family: 'B612 Mono', monospace;
    font-size: 15px;
    padding: 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .view-source {
        opacity: 1;
    }
  }
@media screen and (min-width: 768px) {
    main {
        margin: 0 auto;
        width: 80%;
    }
    .source-container {
        width: 60%;
    }
    
  }
  
  