@import 'variables';
.sbl-sticks-spin {
    height: $height;
    width: 4px;
    background: $loadercolor;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    animation: animateSticks1 3s ease infinite;
   

    &::before, &::after {
        height: inherit;
        width: inherit;
        content: '';
        display: block;
        background:inherit;
        position:absolute;
        border-radius: 4px;
    }
    &::before{
        left: 0;
        animation: animateSticks2 1s .5s ease infinite;
    }
    &::after {
        right: 0;
        animation: animateSticks3 1s 1s ease infinite;
    }
    
}

@keyframes animateSticks1 {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(90deg);}
    100% {transform: rotate(0);}
}
@keyframes animateSticks2 {
    0% {transform: rotate(0deg);}
    50%,100% {transform: rotate(55deg);}
}
@keyframes animateSticks3 {
    0% {transform: rotate(0deg);}
    50%,100% {transform: rotate(115deg);}
}

@keyframes rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}