
@import 'variables';
.sbl-circ {
    height: $height;
    width: $width;
    color: $loadercolor;
    position: relative;
    display: inline-block;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}