@import 'variables';
.sbl-seven-circles {
    height: $height;
    width: $width;
    color: $loadercolor;
    position: relative;
    animation: rotate 1s linear infinite;
    display: inline-block;

    div {
        height: 50%;
        width: 50%;
        border-radius: 50%;
        border:1px solid;
        position: absolute;
        &:nth-child(1) {
            top: 10%;
            left: 5%;
        }
        &:nth-child(2) {
            top: 0;
            left: 25%;
        }
        &:nth-child(3) {
            top: 10%;
            right: 5%;
        }
        &:nth-child(4) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        &:nth-child(5) {
            bottom: 0;
            left: 25%;
        }
        &:nth-child(6) {
            bottom: 10%;
            left: 5%;
        }
        &:nth-child(7) {
            bottom: 10%;
            right: 5%;
        }
    }
}

@keyframes rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}